* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper {
    width:100vw;
    height: 100vh;
}


.container-left {
    box-sizing: border-box;
    width: 60%;
    padding: 136px;
    margin-top: 15%;
}

.container-right {
    box-sizing: border-box;
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40vw;
    position:absolute;
}

h1 {
    color: #5D5D7D;
    font-weight: 400px;
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}

p {
    color: #5D5D7D;
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
    width:540px;

}

.botao {
    box-shadow: 0px 10px 24px 0px;
    background-color: #9499EA;
    Width: 269px;
    Height: 62px;
    border-radius:40px;
    border: none;
    color: #ffffff;
    font-Weight: 400;
    font-size: 24px;
    cursor: pointer;
    margin-top: 15px;
}

.botao:hover {
    opacity: 0.8;
}

.botao:active {
    opacity: .5;
}

.imag {
    Width:456px;
    Height:561.95px;
    box-sizing: border-box;
    position: relative;
    right:135px;
    top:25px;

}

a {
    font-weight: 400px;
    font-size:28px;
    line-height:41px;
    color:#5D5D7D;
    cursor: pointer;
    margin-right: 41px;
    
}

 a:nth-child(2) {
    opacity: 0.4;
 }

 a:hover {
    opacity: 0.4;
 }

 a:active {
    opacity: 0.8;
 }

 header {
    padding: 24px 0 0 57px;
 }

 @media screen and (max-width: 900px){
.container-left {
    width: 100%;    
    height: 50%;
    padding: 0;
    margin: 0;
 }

 .container-right {
    display: block;
    height: auto;
    width: 100%;
    position: static;
    padding: 40px;
 }

.imag {
    position: static;
    max-width: 90%;
}

header{
    display: none;
}

h1 {
    font-size: 36px;
    line-height: 52px;
    width:auto;
    margin: 58px 50px 0 50px;
    text-align: center;
}

p {
    margin: 15px 40px;
    width: auto;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}
.botao {
    margin: 0 auto;
    display: block;
}
}

@media screen and (max-width: 330px) {
.container-left{
    height: 70%;
}
    
}